body{
    font-family: arial,sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 'body-content';
}

#body-content{
    grid-area: 'body-content';
}

button{
    margin: 9px;
}

.blur-content{
    filter: blur(3px);
}

#modal-close-button{
    position: sticky;
    margin-top: 20px;
    top: 20px;
    float: right;
    font-size: 16px;
}

#modal-close-button:hover{
    cursor: pointer;
}

.modal-container{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal{
    position: fixed;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 10fr 90fr;
    grid-template-columns: auto;
    grid-template-areas: 'modal-header' 'modal-body';
    width: 70%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 9px 3px rgba(128, 128, 128, 0.63);
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

#modal-header{
    grid-area: modal-header;
    justify-self: right;
    position: sticky;
    top: 0px;
}

#modal-body{
    grid-area: modal-body;
}