body{
    font-family: arial,sans-serif;
    margin: 0;
}

button{
    margin: 9px;
}

.blur-content{
    filter: blur(3px);
}

#modal-close-button{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 16px;
}

#modal-close-button:hover{
    cursor: pointer;
}

.modal-container{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal{
    position: relative;
    position: fixed;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 9px 3px rgba(128, 128, 128, 0.63);
    border-radius: 15px;
    padding: 20px;
}