/*For more info, visit: https://stackoverflow.com/a/9189873*/

body{
    width: 400px;
    border: 1px solid black;
}

.block{
    display: block;
    background-color: red;
    margin: 10px;
}

.inline{
    display: inline;
    background-color: orange;
    margin: 10px;
}

.inline-block{
    display: inline-block;
    background-color: yellow;
    margin: 10px;
}

