/* tutorial: https://www.freecodecamp.org/news/how-to-use-the-position-property-in-css-to-align-elements-d8f49c403a26/ */

#relative-container{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.relative-first-block{
    width: 50px;
    height: 50px;
    background-color: rgb(70, 139, 228);
}

.relative-second-block{
    position: relative;
    /* wrt itself i.e reference point = bottom-left corner of blue-box */
    width: 50px;
    height: 50px;
    background-color: rgb(70, 228, 149);
}

#absolute-container{
    margin-top: 50px;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.absolute-first-block{
    width: 50px;
    height: 50px;
    background-color: rgb(70, 139, 228);
}

.absolute-second-block{
    position: absolute;
    /* wrt parent i.e reference point = top-left corner of blue-box */
    /* if parent's position is not relative then the reference point would be top-left corner of html page */
    top: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(70, 228, 149);
}

#fixed-container{
    margin-top: 50px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.fixed-first-block{
    width: 50px;
    height: 50px;
    background-color: rgb(70, 139, 228);
}

.fixed-second-block{
    position: fixed;
    /* wrt html-page i.e reference point = top-left corner of page */
    /* stays fixed even on scrolling */
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(241, 114, 10);
}

/* Sticky block sticks to parent (remains fixed even while scrolling) when the condition (top/bottom/left/right) satisfies wrt its PARENT */
/* sticky block can't stick to its parent when its parent is no more visible upon scrolling */
/* application: https://developer.mozilla.org/en-US/docs/Web/CSS/position?v=example#Sticky_positioning */
/* tutorial: https://medium.com/@elad/css-position-sticky-how-it-really-works-54cd01dc2d46 */
.sticky-block{
    margin-top: 50px;
    width: 50px;
    height: 50px;
    position: sticky;
    top: 0px;
    background-color: rgb(128, 16, 16);
}

.content{
    font-family: arial;
    font-size: 64px;
}
