body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: auto;
    grid-template-areas: 'header' 'body-container';
    --border-thickness: 1px
}

#header{
    grid-area: header;
    border: var(--border-thickness) solid black;
}

#body-container{
    grid-area: body-container;
    display: grid;
    grid-template-columns: 15fr 85fr;
    grid-template-rows: auto;
    grid-template-areas: 'left-column right-column';
    border: var(--border-thickness) solid black;
}

#left-column{
    grid-area: left-column;
    display: grid;
    height: calc(100vh - 60px);
    box-shadow: 1px 0px 0px 0px rgb(233, 229, 229);
    overflow: scroll;
    border: var(--border-thickness) solid black;
}

#right-column{
    display: grid;
    grid-template-rows: auto 60px;
    grid-template-columns: auto;
    grid-template-areas: 'right-column-body' 'footer';
    grid-area: right-column;
    height: calc(100vh - 60px);
    overflow: scroll;
    border: var(--border-thickness) solid black;
}

#right-column-body{
    grid-area: right-column-body;
    border: var(--border-thickness) solid black;
}

#footer{
    grid-area: footer;
    border: var(--border-thickness) solid black;
}
