#relative-container{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.relative-first-block{
    width: 50px;
    height: 50px;
    background-color: rgb(70, 139, 228);
}

.relative-second-block{
    position: relative;
    /* wrt itself i.e reference point = bottom-left corner of blue-box */
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(70, 228, 149);
}

#absolute-container{
    margin-top: 50px;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.absolute-first-block{
    width: 50px;
    height: 50px;
    background-color: rgb(70, 139, 228);
}

.absolute-second-block{
    position: absolute;
    /* wrt parent i.e reference point = top-left corner of blue-box */
    /* if parent's position is not relative then the reference point would be top-left corner of html page */
    top: 0px;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(70, 228, 149);
}

